<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans" rel="stylesheet">
    <title>To Do List</title>
  </head>
  <body>
    <div class="outerContainer">
      <form active="/" method="post">
                  <header class="toDoListHeader">
                    <span class="DarthList">Darth Vader's To Do List</span>



                  </header>
                  <input id="input" type="text" name="toDoInput" placeholder="To do?">
                  </form>


      {{#toDoList}}
      <div name="toDoList" class="toDoList">

        <div class="toDoItem">{{listItem}}</div>

        {{#.}}
        <div class="toDoItem">{{.}}<div class="squaredOne">
	<input type="checkbox" value="None" id="squaredOne" name="check" />
	<label for="squaredOne"></label>
</div></div>
        {{/.}}

        <!-- <div class="status">{{#status}}<input type="checkbox" class="checkNice">{{/status}}</div> -->




      </div>
      {{/toDoList}}


  </body>
</html>
