

body {
  font-family: 'Gloria Hallelujah', cursive;
  max-width: 90vw;
  min-height: 100vw;
}

li {
  list-style: none;
}

.outerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.toDoListHeader {
  font-weight: bold;
  font-size: 5vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.toDoList {
  font-size: 4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.toDoItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: .5vw 0 .5vw 0;
}

#input [type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
#input [type="text"]:focus,
#input [type="text"].focus {
  border-bottom: solid 2px #969696;
}

.DarthList {
  margin: 2.5vw 0 .5vw 0
}
